<!DOCTYPE html>
<html lang="ja">
{%- set pageTitle %}{% if title %}{{ title }} | {% endif %}{{ meta.siteName }}{% endset -%}
{%- set pageDescription %}{% shortDesc collections.all, page, meta.siteDescription %}{% endset -%}
{%- set pageSocialImg %}{{ meta.url }}/previews/{% if title %}{{ title | slug }}{% else %}home{% endif %}.png{% endset -%}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{pageTitle}}</title>
    <meta
      name="description"
      content="{{pageDescription}}"
    />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    {% if meta.env === 'prod' %}
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-38XP4WXMMY"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-38XP4WXMMY');
    </script>
    {% endif %}
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/img/site.webmanifest">
    <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link href="{{ '/css/style.css' | url }}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Mochiy+Pop+One&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">

    <meta name="twitter:card" content="summary_large_image" />
    {% if meta.twitterUsername %}
    <meta name="twitter:creator" content="@{{ meta.twitterUsername }}" />
    {% endif %}
    <meta
      name="twitter:title"
      content="{{pageTitle}}"
    />
    <meta
      name="twitter:description"
      content="{{pageDescription}}"
    />

    <meta property="fb:app_id" content="625393465273959" />
    <meta property="og:type" content="website" />
    <meta
      name="og:title"
      content="{{pageTitle}}"
    />
    <meta
      name="og:description"
      content="{{pageDescription}}"
    />
    <meta
      name="og:url"
      content="{{ meta.url }}{{ page.url }}"
    />
    {% if page.fileSlug %}
    <meta property="og:image" content="{{pageSocialImg}}" />
    <meta name="twitter:image" content="{{pageSocialImg}}" />
    {% else %}
    <meta property="og:image" content="{{meta.url}}/img/ogp/mamezou-tech-ogp-main.png" />
    <meta name="twitter:image" content="{{meta.url}}/img/ogp/mamezou-tech-ogp-main.png" />
    {% endif %}

    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS Feed for {{ meta.siteName }}"
      href="/feed/"
    />
    <link rel="preload" href="/photoswipe/photoswipe.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="/photoswipe/photoswipe.css"></noscript>
  <body>
    <div id="fb-root"></div>
    <script>
      window.addEventListener('load', function() {
        const script = document.createElement('script');
        script.async = true;
        script.defer = true;
        script.crossorigin = 'anonymous';
        script.src = 'https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v12.0';
        script.nonce = "8Wa5XpDX";
        const fbroot = document.querySelector('#fb-root');
        fbroot.after(script);
      });
    </script>
    {{ content | safe }}
    <footer class="tdbc-background--secondary">
      <div class="tdbc-container tdbc-text-align-center">
        <div class="tdbc-row tdbc-ink--light tdbc-mx-auto">
          <p class="tdbc-mb-none">&copy; {% year %} {{ meta.authorName }} • {% packageVersion %}</p>
        </div>
      </div>
    </footer>
  </body>
</html>
