---
layout: base.njk
---
{% include 'sitenav.njk' %}

<main class="tdbc-container">
  <article class="event tdbc-mx-auto">
    <header class="event__header">
      <h1>{{ title }}</h1>
      <div style="float: right">
        <div style="float: right">
          <div id="preact-sns"></div>
          <script type="module">
            import { render } from '/components/preact/social-plugins.js';
            render({url: '{{ meta.url }}', path: '{{ page.data.url }}'}, document.getElementById("preact-sns"));
          </script>
        </div>
      </div>
    </header>

    <main class="event__content">
      {{ content | safe }}
    </main>

    <is-land on:idle style="margin-top:0">
      <div id='recommendation-app'></div>
      <template data-island>
	    <script type="module">
        import { renderRecommendation } from '/components/preact/bundle.mjs';
        renderRecommendation({tags : '{{ tags | pageTags }}'}, document.getElementById("recommendation-app"));
	    </script>
	  </template>
    </is-land>
    <hr class="link-separator" />
    {%- include "pv-ranking.njk" %}
    {%- include "links.njk" %}
  </article>
  {%- initClipboardJS %}
</main>
