---
description:
layout: base.njk
---

<style>
  .logo {
    margin: 0 auto 1rem;
  }
  .tdbc-hero {
    padding-top: 5vh;
    padding-bottom: 0;
  }
  .article-area {
    width: 100%;
  }
  @media (min-width: 80ch) and (max-width: 768px) {
    .article-area {
      width: 60%;
      float: left;
    }
  }
  @media (min-width: 769px) {
    .article-area {
      width: 70%;
      float: left;
    }
  }
  .post-list {
    padding-inline-start: 0;
  }
  div.mameka {
      padding-top: 3rem;
  }
  .article-area {
    padding: 0;
  }
  a.all-article-link {
    font-size: 0.85rem;
    margin-left: 1rem;
    text-decoration: none;
  }
  .home-social-plugins {
    margin: auto;
  }
  .tags {
    border: solid 1px;
    margin: 1.5rem 0.5rem 0 0.5rem;
    padding: 0.5rem;
    border-radius: 8px;
    border-color: #624176;
  }
  .tags a {
    margin: 0.5rem;
    line-height: 1.5rem;
  }
  .new-box {
    margin: 0 0.25rem;
    display: inline-flex;
    vertical-align: bottom;
  }
</style>
<header class="tdbc-hero">
  <div class="tdbc-container">
    <div class="logo">
      <img src="/img/logo/mz-tech-logo-small.png" alt="mz-logo" width="100%" height="100%" />
    </div>
    <div>
    <h1 class="tdbc-ink--mz tdbc-mb-none tdbc-top-title">{{ site.siteName }}</h1>
    <h2 class="tdbc-lead tdbc-content-maxlength tdbc-ink--gray tdbc-mt-md tdbc-mx-auto">
      {{ site.siteDescription }}
    </h2>
    </div>

    <div class="home-social-plugins">
      <is-land on:idle>
        <div id="preact-sns">{{ "./components/preact/social-plugins.js" | preact({url: meta.url, path: page.url}) | safe }}</div>
        <template data-island>
          <script type="module">
            import { hydrateSocialPlugins } from '/components/preact/bundle.mjs';
            hydrateSocialPlugins({url: '{{ meta.url }}', path: '{{ page.url }}'}, document.getElementById("preact-sns"));
          </script>
        </template>
      </is-land>
    </div>
    {%- include "google-search.njk" %}
  </div>
</header>
<main class="tdbc-container">
  <div class="tdbc-section">
    <ul class="tdbc-column-container">
      {%- for page in collections.pages -%}
      <li class="tdbc-card">
        <div class="tdbc-card__content">
          <a href="{{ page.url }}" class="tdbc-card__title">{{ page.data.title }}</a>
          <p>{{ page.data.description }}</p>
        </div>
      </li>
      {%- endfor -%}
    </ul>
  </div>

{{ content | safe }}
  <div>
    <fieldset class="tags">
      <legend>記事のタグから検索</legend>
      {%- include "tags-links.njk" %}
    </fieldset>
  </div>
  <p style="font-size:1rem;margin:1rem;">本サイトは本家の豆蔵ホームページではありません。会社概要、製品紹介等は<a class="new-tab-link" target="_blank" rel="noreferrer noopener" style="text-decoration:underline" href="https://www.mamezou.com/">こちら</a>、
  募集中の求人情報は<a class="new-tab-link" target="_blank" rel="noreferrer noopener" style="text-decoration:underline" href="https://hrmos.co/pages/mamezou-recruit/jobs">こちら</a>をご覧ください。</p>

  <div>
    <fieldset class="chatgpt-jargon">
      <legend><img alt="mameka" src="/img/logo/mameka6_30.png">豆香の豆知識(generated by GPT-4)</legend>
      <div>今日の言葉: {{ gpt.columns[0].title }}</div>
      <div>{{ gpt.columns[0].text | safe }}</div>
      <div><b>※本コラムはOpenAIのChat Completion APIで生成したものです。内容に誤りがある可能性がありますのでご注意ください。</b></div>
    </fieldset>
  </div>
  <div>
    <div class="article-area">
      <article class="tdbc-mx-auto" style="margin-top: 3em">
        <section class="post-list__wrapper recent-article">
          <h2 class="post-list__heading">新着記事<img alt="new-articles" class="new-box" width="36px" src="/img/icons/new-box.svg" /><a class="all-article-link" href="/articles/">全ての記事を見る</a></h2>
          <ul class="post-list">
            {% for post in collections.articles | head(-20) | reverse %}
              <li class="post-list__item">
                <div>
                  <div class="post-list__meta">
                    <time datetime="{{ post.date | htmlDateString }}">
                      {{ post.date | readableDate }}
                    </time>
                    {%- if post.data.category -%}
                    <span> | </span>
                    <span class="Label">{{ post.data.category }}</span>
                    {% endif %}
                    <span> | </span>
                    <span>{{ post | readingTime }} read</span>

                  </div>

                  <div class="post-list__tags">
                    {% for tag in post.data.tags %}
                      {%- if collections.tagList.indexOf(tag) != -1 -%}
                        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
                        <a href="{{ tagUrl | url }}">#{{ tag }}</a>
                      {%- endif -%}
                    {% endfor %}
                  </div>
                </div>

                <h3 class="post-list__title">
                  <a  href="{{ post.url }}">{{ post.data.title }}</a>
                </h3>

                <p class="post-list__excerpt">{{ post.templateContent | excerpt | safe  }}</p>

                <a class="post-list__read-more" href="{{ post.url }}">記事を読む</a>
              </li>
            {% endfor %}
          </ul>
        </section>
      </article>
    </div>
    <div class="mameka">
      <img src="/img/logo/mameka_280.png" alt="mameka" width="280px" height="396px" />
    </div>
  </div>
  <div style="margin: 1rem 0 0 0; padding: 0;">
  <hr class="link-separator">
  {%- include "pv-ranking.njk" %}
  {%- include "links.njk" %}
  </div>
</main>
