---
description:
layout: base.njk
---

<style>
  .logo {
    width: 20vmax;
    height: 10vmax;
    margin: 0 auto 2rem;
  }
  .tdbc-hero {
    padding-top: 5vh;
    padding-bottom: 0;
  }
  .row {
    display: flex;
  }
  .column {
    padding: 3px;
    margin: 0 10px;
  }
  .article-area {
    width: 70%
  }
  .post-list {
    padding-inline-start: 0;
  }
  .mameka {
    padding-top: 3rem;
    width: 30%
  }
  .article-area {
    padding: 0;
  }
  .plus-mark {
    margin: auto 0;
  }
  .plus-mark span {
    font-size: 2rem
  }
</style>
<header class="tdbc-hero">
  <div class="tdbc-container">
    <span class="logo">
      <div class="row">
        <div class="column">
          <img src="/img/logo/mamezoulogo.png" />
        </div>
        <div class="column plus-mark">
          <span>+</span>
        </div>
        <div class="column">
          <img src="/img/logo/mame-kun1.png" />
        </div>
      </div>
    </span>
    <h1 class="tdbc-ink--primary tdbc-mb-none">{{ meta.siteName }}(Beta)</h1>
    <h2 class="tdbc-lead tdbc-content-maxlength tdbc-ink--gray tdbc-mt-md tdbc-mx-auto">
      {{ meta.siteDescription }}
    </h2>
  </div>
</header>
<main class="tdbc-container">
  <div class="tdbc-section">
    <ul class="tdbc-column-container">
      {%- for page in collections.pages -%}
      <li class="tdbc-card">
        <div class="tdbc-card__content">
          <a href="{{ page.url }}" class="tdbc-card__title">{{ page.data.title }}</a>
          <p>{{ page.data.description }}</p>
        </div>
      </li>
      {%- endfor -%}
    </ul>
  </div>
  <style>
    #quickstart + ol li:first-child,
    #quickstart + ol li:first-child p {
      font-size: 1.5rem;
    }
  </style>

{{ content | safe }}

  <div class="row">
    <div class="column article-area">
      <article class="tdbc-mx-auto" style="margin-top: 3em">
        <section class="post-list__wrapper recent-article">
          <h2 class="post-list__heading">最近の記事</h2>
          <ul class="post-list">
            {% for post in collections.articles | head(-20) | reverse %}
              <li class="post-list__item">
                <div>
                  <div class="post-list__meta">
                    <time datetime="{{ post.date | htmlDateString }}">
                      {{ post.date | readableDate }}
                    </time>
                    <span> | </span>
                    <span>{{ post | readingTime }} read</span>
                  </div>

                  <div class="post-list__tags">
                    {% for tag in post.data.tags %}
                      {%- if collections.tagList.indexOf(tag) != -1 -%}
                        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
                        <a href="{{ tagUrl | url }}">#{{ tag }}</a>
                      {%- endif -%}
                    {% endfor %}
                  </div>
                </div>

                <h3 class="post-list__title">
                  <a  href="{{ post.url }}">{{ post.data.title }}</a>
                </h3>

                <p class="post-list__excerpt">{{ post.templateContent | excerpt | safe  }}</p>

                <a class="post-list__read-more" href="{{ post.url }}">記事を読む</a>
              </li>
            {% endfor %}
          </ul>
        </section>
      </article>
    </div>
    <div class="column mameka">
      <img src="/img/logo/mameka.png" />
    </div>
  </div>
</main>
