---
description:
layout: base.njk
templateEngineOverride: md, njk
---

<style>
  .logo {
    width: 12vmax;
    height: 12vmax;
    margin: 0 auto 2rem;
  }

  .logo svg {
    width: 100%;
    height: 100%;
  }

  .tdbc-hero {
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
</style>
<header class="tdbc-hero">
  <div class="tdbc-container">
    <span class="logo">
      <img src="/img/logo.svg"/>
    </span>
    <h1 class="tdbc-ink--primary tdbc-mb-none">{{ meta.siteName }}</h1>
    <h2 class="tdbc-lead tdbc-content-maxlength tdbc-ink--gray tdbc-mt-md tdbc-mx-auto">
      {{ meta.siteDescription }}
    </h2>
  </div>
</header>
<main class="tdbc-container">
  <div class="tdbc-section">
    <ul class="tdbc-column-container">
      {%- for page in collections.pages -%}
      <li class="tdbc-card">
        <div class="tdbc-card__content">
          <a href="{{ page.url }}" class="tdbc-card__title">{{ page.data.title }}</a>
          <p>{{ page.data.description }}</p>
        </div>
      </li>
      {%- endfor -%}
    </ul>
  </div>
  <style>
    #quickstart + ol li:first-child,
    #quickstart + ol li:first-child p {
      font-size: 1.5rem;
    }
  </style>

{{ content | safe }}

</main>
