<fieldset class="ad">
    <legend>注目イベント！</legend>
    <div class="ad-text">
        <b>8月24日(木)第29回豆寄席開催(Zoom)！</b><br />
        『Running Lean原著者が登壇！アッシュ・マウリャ氏/来日記念講演豆寄席～イノベーターのギフト』(オンラインセミナー)<br />
        参加費無料です。申し込み(無料)は
        <a href="https://mamezou.connpass.com/event/292847/" onclick="leanGa()" target="_blank" rel="noreferrer noopener">こちら</a>から
    </div>
    <a href="https://mamezou.connpass.com/event/292847/" onclick="leanGa()" target="_blank" rel="noreferrer noopener">
        <img alt="mameyose" height="100" width="232" src="/img/event/lean-100.png" />
    </a>
    <script>
       function leanGa() {
         if (!window.gtag) return
         window.gtag('event', 'click_mameyose_lean', { type: 'ad' })
       }
    </script>
</fieldset>