<div>
  <hr class="link-separator">
  <div class="links">
    <div class="recruit">
      <p>豆蔵では共に高め合う仲間を募集しています！</p>
      <a href="https://wwwrecruit.mamezou.com/" target="_blank" rel="noreferrer noopener">
        <img src="/img/logo/recruit.jpeg" alt="recruit" width="200px" height="60px" />
      </a>
    </div>
  </div>
</div>