<fieldset class="ad">
    <legend>注目イベント！</legend>
    <div class="ad-text">
        <b>10月26日(木)第30回豆寄席開催(Zoom)！</b><br />
        エンジニアリングと機械学習 〜実現場での機械学習〜/江川崇氏【豆寄席】<br />
        参加費無料です。<a href="https://mamezou.connpass.com/event/299002/" onclick="sendGa()" target="_blank" rel="noreferrer noopener">こちら</a>からお申し込みできます。
    </div>
    <a href="https://mamezou.connpass.com/event/299002/" onclick="sendGa()" target="_blank" rel="noreferrer noopener">
        <img alt="mameyose" height="100" width="178" src="/img/event/engineering-ml.png" />
    </a>
    <script>
       function sendGa() {
         if (!window.gtag) return
         window.gtag('event', 'click_mameyose_lean', { type: 'ad' })
       }
    </script>
</fieldset>