---
layout: base.njk
---
{% include 'sitenav.njk' %}

<header class="tdbc-hero">
  <div class="tdbc-container">
    <h1 class="tdbc-ink--mz tdbc-mb-none tdbc-page-title">
    {{ title }}
    {%- if titleImage -%}
    <img class="page-title-icon" src="{{ titleImage }}" />
    {%- endif -%}
    </h1>
    {%- if description -%}
    <h2 class="tdbc-lead tdbc-content-maxlength tdbc-ink--gray tdbc-mt-md tdbc-mx-auto">
      {{ description }}
    </h2>
    {%- endif -%}
  </div>
</header>
<main class="tdbc-container">
  <article class="tdbc-mx-auto">
    {{ content | safe }}
    <hr class="link-separator">
    {%- include "pv-ranking.njk" %}
    {%- include "links.njk" %}
  </article>
  {% initClipboardJS %}
  {% mermaid_js %}
</main>
