{%- if (pages | length) > 1 %}
<nav class="tdbc-pagination" aria-labelledby="tdbc-pagination">
  {%- for unused in pages %}
    {%- if page.data.url == hrefs[ loop.index0 ] %}
      <span class="current-page">{{ loop.index }}</span>
    {%- else %}
      <a href="{{ hrefs[ loop.index0 ] }}">{{ loop.index }}</a>
    {%- endif %}
  {%- endfor %}
</nav>
{% endif %}