---
layout: base.njk
---

{% include 'sitenav.njk' %}

<main class="tdbc-container">
  <article class="post tdbc-mx-auto">
    <header class="post__header">
      <h1>{{ title }}</h1>
      <div class="post__details">
        <time datetime="{{ page.date | htmlDateString }}">
          {{ page.date | readableDate }}
        </time>
        <span> | </span>
        <span>{{ content | readingTime }} read</span>
      </div>
      {%- if author %}
        <span> Author: </span>
        <span>{{ author | safe }}</span>
      {% endif %}

      <div style="float: right">
        {% include 'social-plugins.njk' %}
      </div>
    </header>

    <main class="post__content">
      {{ content | safe }}
    </main>

    <aside class="post__aside">
      <div class="post__tags">
        {% for tag in tags | pageTags %}
          {% set tagUrl %}/tags/{{ tag }}/{% endset %}
          <a href="{{ tagUrl | url }}">#{{ tag }}</a>
        {% endfor %}
      </div>

      <nav class="post__pagination">
        {%- if pageNavigationTag %}

          {%- set previousPost = collections[pageNavigationTag] | getPreviousCollectionItem(page) %}
          {%- if previousPost %}

            <a href="{{ previousPost.url | url }}">
              <span>←</span>
              <span>{{ previousPost.data.title }}</span>
            </a>

          {% endif %}

          {%- set nextPost = collections[pageNavigationTag] | getNextCollectionItem(page) %}
          {%- if nextPost %}

            <a href="{{ nextPost.url | url }}">
              <span>{{ nextPost.data.title }}</span>
              <span>→</span>
            </a>

          {% endif %}

        {% else %}
          {%- if prevPage %}
            {%- set prevPostPage = collections.all | inputPath(prevPage) %}
            {%- if prevPostPage %}
              <a href="{{ prevPostPage.url | url }}">
                <span>←</span>
                <span>{{ prevPostPage.data.title }}</span>
              </a>
            {% endif %}
          {% endif %}
          {%- if nextPage %}
            {%- set nextPostPage = collections.all | inputPath(nextPage) %}
            {%- if nextPostPage %}
              <a href="{{ nextPostPage.url | url }}">
                <span>{{ nextPostPage.data.title }}</span>
                <span>→</span>
              </a>
            {% endif %}
          {% endif %}
        {% endif %}
      </nav>
    </aside>
  {%- include "links.njk" %}
  </article>
  <script type="module">
    import PhotoSwipeLightbox from '/photoswipe/photoswipe-lightbox.esm.js';
    window.onload = function() {
      const anchors = document.querySelectorAll("a.image-swipe");
      anchors.forEach((el) => {
        const img = el.querySelector("img");
        el.setAttribute("data-pswp-width", img.naturalWidth);
        el.setAttribute("data-pswp-height", img.naturalHeight);
        new PhotoSwipeLightbox({
          gallery: `#${el.id}`,
          bgOpacity: 0.2,
          mainClass: 'pswp--custom-bg',
          pswpModule: () => import('/photoswipe/photoswipe.esm.js')
        }).init();
      })
    }
  </script>
</main>