---
layout: base.njk
---

{% include 'sitenav.njk' %}

<main class="tdbc-container">
  <article class="post tdbc-mx-auto">
    <header class="post__header">
      <h1>{{ title }}</h1>
      <div class="post__details">
        <time datetime="{{ page.date | htmlDateString }}">
          {{ page.date | readableDate }}
        </time>
        <span> | </span>
        <span>{{ content | readingTime }} read</span>
      </div>
      {%- if author %}
        <div style="float: left; margin-bottom: 0.5rem">
        <span> Author: </span>
        {%- set authors = collections.contributorArticles | byAuthor(author) %}
        {%- if authors.length %}
          {%- set contributor = authors | first %}
          <a href="/authors/{{ author }}" title="{{ author }} の記事一覧">{{ author | safe }}
          <img width="40" height="40" style="margin-left: 0.2rem" alt="{{ author }}の画像" src="https://github.com/{{ contributor.github }}.png?size=40" /></a>
        {%- else %}
          <span>{{ author | safe }}</span>
        {%- endif %}
        </div>
      {% endif %}

      <div style="float: right">
        <is-land on:idle>
          <div id="preact-sns">{{ "./components/preact/social-plugins.js" | preact({url: meta.url, path: page.url}) | safe }}</div>
          <script type="module/island">
            import { hydrateSocialPlugins } from '/components/preact/bundle.mjs';
            hydrateSocialPlugins({url: '{{ meta.url }}', path: '{{ page.url }}'}, document.getElementById("preact-sns"));
          </script>
        </is-land>
      </div>
    </header>

    <main class="post__content">
      {{ content | safe }}
    </main>

    <aside class="post__aside">
      <div class="post__tags">
        {% for tag in tags | pageTags %}
          {% set tagUrl %}/tags/{{ tag }}/{% endset %}
          <a href="{{ tagUrl | url }}">#{{ tag }}</a>
        {% endfor %}
      </div>

      <nav class="post__pagination">
        {%- if pageNavigationTag %}

          {%- set previousPost = collections[pageNavigationTag] | getPreviousCollectionItem(page) %}
          {%- if previousPost %}

            <a href="{{ previousPost.url | url }}">
              <span>←</span>
              <span>{{ previousPost.data.title }}</span>
            </a>

          {% endif %}

          {%- set nextPost = collections[pageNavigationTag] | getNextCollectionItem(page) %}
          {%- if nextPost %}

            <a href="{{ nextPost.url | url }}">
              <span>{{ nextPost.data.title }}</span>
              <span>→</span>
            </a>

          {% endif %}

        {% else %}
          {%- if prevPage %}
            {%- set prevPostPage = collections.all | inputPath(prevPage) %}
            {%- if prevPostPage %}
              <a href="{{ prevPostPage.url | url }}">
                <span>←</span>
                <span>{{ prevPostPage.data.title }}</span>
              </a>
            {% endif %}
          {% endif %}
          {%- if nextPage %}
            {%- set nextPostPage = collections.all | inputPath(nextPage) %}
            {%- if nextPostPage %}
              <a href="{{ nextPostPage.url | url }}">
                <span>{{ nextPostPage.data.title }}</span>
                <span>→</span>
              </a>
            {% endif %}
          {% endif %}
        {% endif %}
      </nav>
    </aside>
    <is-land on:idle style="margin-top:0">
      <div id='recommendation-app'></div>
	  <script type="module/island">
      import { renderRecommendation } from '/components/preact/bundle.mjs';
      renderRecommendation({tags : '{{ tags | pageTags }}'}, document.getElementById("recommendation-app"));
	  </script>
    </is-land>
    <hr class="link-separator" />
    {%- include "pv-ranking.njk" %}
    {%- include "links.njk" %}
  </article>
  <script type="module">
    import PhotoSwipeLightbox from '/photoswipe/photoswipe-lightbox.esm.js';
    window.addEventListener('load', function() {
      const anchors = document.querySelectorAll('a.image-swipe');
      anchors.forEach((el) => {
        const img = el.querySelector('img');
        el.setAttribute('data-pswp-width', img.naturalWidth);
        el.setAttribute('data-pswp-height', img.naturalHeight);
        new PhotoSwipeLightbox({
          gallery: `#${el.id}`,
          pswpModule: () => import('/photoswipe/photoswipe.esm.js'),
        }).init();
      })
    });
  </script>
  {% initClipboardJS %}
  {% mermaid_js %}
</main>