<nav aria-labelledby="tdbc-siteid" class="tdbc-sitenav">
  <section class="top-nav">
    <div>
      <a id="tdbc-siteid" href="/">
        <img src="/img/logo/mz-tech-logo-icon.png" />
        &nbsp;|&nbsp;{{ meta.siteName }}
      </a>
    </div>
    <input id="menu-toggle" type="checkbox" />
    <label class="menu-button-container" for="menu-toggle">
      <div class="menu-button"></div>
    </label>
    <ul class="menu">
      {%- for page in search.pages('pages exclude!=true') -%}
      <li>
        <a href="{{ page.data.url }}">{{ page.data.title }}</a>
      </li>
      {%- endfor -%}
    </ul>
  </section>
</nav>
