<nav aria-labelledby="tdbc-siteid" class="tdbc-sitenav">
  <div class="tdbc-sitenav__container">
    <div>
    <a id="tdbc-siteid" href="/">
      <img src="/img/logo/mz-tech-logo-icon.png" />
      &nbsp;|&nbsp;{{ meta.siteName }}
    </a>
    </div>
    <ul class="tdbc-sitenav__navlist tdbc-list-unstyled">
      {%- for page in collections.pages -%}
      <li>
        <a href="{{ page.url }}">{{ page.data.title }}</a>
      </li>
      {%- endfor -%}
    </ul>
  </div>
</nav>
