<div class="tdbc-social-plugins">
  <ul>
    <li class="tdbc-twitter-follow">
      <a href="https://twitter.com/MamezouDev?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @MamezouDev</a>
    </li>
    <li>
      <a href="https://twitter.com/intent/tweet?button_hashtag=豆蔵デベロッパー?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet @MamezouDev #豆蔵デベロッパー</a>
    </li>
    <li class="tdbc-fb-recommend">
      <div class="fb-like" data-href="{{ meta.url }}{{ page.url }}" data-width="" data-layout="button_count" data-action="recommend" data-size="small" data-share="false"></div>
    </li>
    <li>
      <div class="fb-share-button" data-href="{{ meta.url }}{{ page.url }}" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">シェア</a></div>
    </li>
  </ul>
  <script>
    window.addEventListener('load', function() {
      const twitterFollow = document.createElement('script');
      twitterFollow.async = true;
      twitterFollow.defer = true;
      twitterFollow.src = "https://platform.twitter.com/widgets.js";
      twitterFollow.charset = 'utf-8';
      const followDiv = document.querySelector('.tdbc-twitter-follow');
      followDiv.appendChild(twitterFollow);
    });
  </script>
</div>
