// stylelint-disable-next-line selector-max-type
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: tdbc-color("background");
  color: $tdbc-color-body;
  font-family: $tdbc-font-family;
}

// stylelint-disable selector-max-type, selector-no-qualifying-type
main,
main.tdbc-container {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

footer {
  margin-top: auto;
}

article {
  max-width: 80ch;

  > img {
    margin-right: auto;
    margin-left: auto;
  }
}
// stylelint-enable

.tdbc-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 120ch;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
}

.tdbc-column-container {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));
}

// stylelint-disable-next-line selector-no-qualifying-type, selector-max-type
ul.tdbc-column-container {
  padding-left: 0;
}

.tdbc-section {
  width: 100%;

  &--padded {
    padding-top: 10vh;
    padding-bottom: 10vh;
  }

  // stylelint-disable-next-line selector-max-universal
  *:last-child {
    margin-bottom: 0;
  }
}

.tdbc-hero {
  display: grid;
  min-height: 10vh;
  place-content: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
  text-align: center;
}

.tdbc-row {
  display: grid;
  grid-gap: 1rem;

  @media (min-width: 80ch) {
    grid-auto-flow: column;
    grid-auto-columns: max-content;
  }

  &--center-content {
    justify-content: center;
  }

  &--center-alignitems {
    align-items: center;
  }
}

// stylelint-disable-next-line selector-max-type
hr {
  margin-top: 4rem;
  margin-bottom: 4rem;
  border: 1px solid tdbc-color("secondary");
}

table {
  border-collapse: collapse;
  margin: 1rem;
}

table, th, td {
  border: 1px solid grey;
}

img.page-title-icon {
  display: inline-block;
  width: 2.5rem;
  margin-left: 0.5rem;
}

.tdbc-flex-row {
  display: flex;
}

.tdbc-flex-column {
  margin: 0 10px;
  padding: 3px;
}

.tdbc-pagination {
  display: inline-block;
  a {
    padding: 1rem 0.5rem;
    float: left;
    color: black;
    text-decoration: none;
    font-size: 1.25rem;
  }

  a.active {
    background-color: #4CAF50;
    color: white;
  }

  a:hover:not(.active) {
    background-color: #ddd;
  }

  span {
    padding: 1rem 0.5rem;
    float: left;
    font-size: 1.25rem;
  }
}

$social-min-height: 30px !default;

.tdbc-social-plugins {
  ul {
    list-style-type: none;
    margin: 0;
    li {
      float: left;
      vertical-align: top;
      min-height: $social-min-height;
    }
  }
  .tweet {
  }
  .fb-recommend {
    .fb-like {
      margin: 0 -20px;
      padding-top: 3px;
    }
  }
  .fb-share-button {
    span {
      vertical-align: top !important;
    }
  }
}

@media (min-width: 80ch) {
  .tdbc-social-plugins .fb-recommend {
    margin-top: -3px;
  }
}

.tdbc-page-title {
  font-family: $tdbc-title-font-family;
  font-size: 5rem;
}