@import "typography";

.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  > * + * {
    margin-top: 2rem;
  }
}

.post__details {
  opacity: 0.6;
  font-size: 0.9rem;
  > * + * {
    margin-left: 0.5rem;
  }
}

.post__content {
  word-wrap: break-word;
}

.post__aside {
  margin-top: 2rem;
}

.post__tags {
  opacity: 0.8;
  font-size: $text-sm;
  * + * {
    margin-left: 0.5rem;
  }
}

.post__pagination {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  > *:only-child {
    margin-right: auto;
    margin-left: auto;
  }
  a {
    display: flex;
    align-items: center;
  }
  span {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
