@import "typography";

.tags {
  margin-top: 1rem;
  font-size: $text-sm;
  margin-bottom: 1rem;
  & > * {
    margin-right: 1rem;
    margin-top: 0.5rem;
  }
  a {
    color: rgb(117, 117, 117);
    text-decoration: none;
  }
}

.post-list__wrapper {
  margin-top: 1rem;
}

.post-list__heading {
  font-size: $text-3xl;
  margin-bottom: 1rem;
}

.post-list {
  list-style: none;
}

.post-list__item {
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
  padding-top: 3rem;
  border-top: 1px solid rgba(230, 230, 230, 1);
  &:last-child {
    border-bottom: 1px solid rgba(230, 230, 230, 1);
  }
}

.post-list__title {
  font-size: $text-2xl;
  margin-top: 0.5rem;
  a {
    font-weight: normal;
    text-decoration: none;
    color: rgb(41, 41, 41);
  }

  a:hover {
    /* color: var(--accent); */
    text-decoration: underline;
  }
}

.post-list__meta {
  font-size: $text-sm;
  margin-top: 1rem;
  color: rgb(117, 117, 117);
  & > * + * {
    margin-left: 1rem;
  }
}

.post-list__tags {
  text-decoration: none;
  font-size: $text-sm;
  margin-top: 0.5rem;

  a {
    text-decoration: none;
    color: rgb(117, 117, 117);
  }
  a:hover {
    color: $accent;
  }
  > * + * {
    margin-left: 1rem;
  }
}

.post-list__excerpt {
  margin-top: 1rem;
  color: rgba(0, 0, 0, 0.8);
}

.post-list__read-more {
  width: fit-content;
  font-size: 1rem;
  text-transform: capitalize;
  margin-top: 1rem;
  text-decoration: underline;
  &:hover {
    text-decoration: underline;
  }
}

.all-posts-link {
  margin-top: 4rem;
  width: fit-content;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  font-size: $text-lg;
  text-decoration: underline;
  color: currentColor;
}
