@import "typography";

.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  > * + * {
    margin-top: 2rem;
  }
  table {
    margin: 0.5rem;
    border-collapse: collapse;
    width: 96%;
    word-break: break-word;
  }

  table, th, td {
    border: 1px solid grey;
    padding: 3px;
  }
}

.mermaid {
  svg {
    height: 100%;
    max-width: 96%;
  }
}

.post__details {
  opacity: 0.6;
  font-size: 0.9rem;
  > * + * {
    margin-left: 0.5rem;
  }
}

.post__content {
  word-wrap: break-word;
  h1 {
    margin-top: 4rem;
    font-size: $text-4xl;
  }
}

.post__toc {
  display: none;
}
.post__toc_preact {
  display: none;
}

@media (min-width: 100ch) {
  .post__toc {
    display: block;
    margin: 2rem 0;
    border-width: thin;
    border-style: dotted;
    border-radius: 10px;
    border-color: tdbc-color("grey");
    background-color: $tdbc-color-toc;
    li {
      list-style-type: square;
    }
  }
  .post__toc_preact {
    display: block;
    margin: 1rem;
    border-style: none;
    ul {
      padding-inline-start: 10px;
    }
    li {
      list-style-type: none;
      font-size: 0.8rem;
    }
    position: fixed;
    width: calc((100vw - 80ch)/2 - 3rem);
    right: 0;
    top: 370px;
  }
  .toc-container-header {
    margin: 0.5rem;
  }
}

.post__aside {
  margin-top: 2rem;
}

.post__tags {
  opacity: 0.8;
  font-size: $text-sm;
  * + * {
    margin-left: 0.5rem;
  }
}

.post__pagination {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  > *:only-child {
    margin-right: auto;
    margin-left: auto;
  }
  a {
    display: flex;
    align-items: center;
  }
  span {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.pswp__img {
  background-color: white;
}
