$tdbc-typography-variants: h1, h2, h3, h4;

@each $type in $tdbc-typography-variants {
  #{$type},
  .tdbc-#{$type} {
    font-weight: $tdbc-strong-font-weight;
    line-height: 1.15;
    margin-bottom: 0.65em;
  }
}

// As of v0.3.0, `clamp` not well enough supported on mobile browsers for use
// Due to build-in min/max Sass functions, requires `unquote()` to correctly
// render as CSS min/max
h1,
.tdbc-h1 {
  font-size: $tdbc-h1-font-size;
  font-size: unquote("min(max(3rem, 5vw), #{$tdbc-h1-font-size})");
}

h2,
.tdbc-h2 {
  font-size: $tdbc-h2-font-size;
  font-size: unquote("min(max(2.5rem, 5vw), #{$tdbc-h2-font-size})");
}

h3,
.tdbc-h3 {
  font-size: $tdbc-h3-font-size;
}

h4,
.tdbc-h4 {
  font-size: $tdbc-h4-font-size;
  color: tdbc-color("gray");
}

p,
li {
  font-size: $tdbc-text-font-size;
}

p {
  margin: 0 0 1rem;
}

article {
  > ul,
  > ol {
    > li + li {
      margin-top: 1rem;
    }
  }

  * {
    + h2 {
      margin-top: 4rem;
    }

    + h3 {
      margin-top: 2rem;
    }
  }
}

strong {
  font-weight: $tdbc-strong-font-weight;
}

a:not(.tdbc-button) {
  color: $tdbc-link-color;
}

pre:not([class*="language"]) {
  font-size: 0.75em;
  margin: 0.5em;
}

code:not([class*="language"]) {
  display: inline-flex;
  padding: 0.2em;
  margin: 0.1em;
  background-color: tdbc-color("light");
  color: tdbc-color("gray");
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  border: 1px solid scale-color(tdbc-color("gray"), $lightness: 50%);
  border-radius: 2px;
  font-size: 0.75em;
  line-height: 1.1;
}

pre code:not([class*="language"]) {
  width: 100%;
  max-width: calc(100vw - 2rem);
  overflow-x: auto;
}

blockquote {
  margin-left: 0;
  margin-right: 0;
  padding-left: 1.5rem;
  border-left: 2px solid tdbc-color("secondary");
  color: tdbc-color("gray");

  &,
  p {
    font-size: $tdbc-h4-font-size;
  }

  + * {
    margin-top: 3rem;
  }

  :last-child {
    margin-bottom: 0;
  }
}

.tdbc-lead {
  font-size: $tdbc-lead-font-size;
  letter-spacing: 0.01em;
  margin-bottom: 1em;
  line-height: 1.3;
}

.tdbc-list-unstyled {
  list-style: none;
  padding: 0;
}

// customize for post
$text-xs: 0.75rem !default;
$text-sm: 0.875rem !default;
$text-base: 1rem !default;
$text-lg: 1.125rem !default;
$text-xl: 1.25rem !default;
$text-2xl: 1.5rem !default;
$text-3xl: 1.875rem !default;
$text-4xl: 2.25rem !default;
$text-5xl: 3rem !default;
$text-6xl: 5rem !default;
$accent: #0074d9 !default;

.post {
  h1 {
    font-size: $text-4xl;
  }

  h2 {
    font-size: $text-3xl;
  }

  h3 {
    font-size: $text-2xl;
  }

  h4 {
    font-size: $text-xl;
  }

  h4 {
    font-size: $text-lg;
  }
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
