@font-face {
  font-family: Fonarto;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/fonarto.woff") format("woff"), url("../fonts/fonarto.ttf") format("ttf");
  font-display: swap;
}

//@font-face {
//  font-family: "Kosugi Maru";
//  font-style: normal;
//  font-weight: 500;
//  src: url("../fonts/KosugiMaru-Regular.woff") format("woff"), url("../fonts/KosugiMaru-Regular.ttf") format("ttf");
//  font-display: swap;
//}

@import url("https://cdnjs.cloudflare.com/ajax/libs/Primer/19.2.0/tooltips.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/Primer/19.2.0/labels.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/Primer/19.2.0/alerts.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/Primer/19.2.0/color-modes.min.css");

@import "theme";
@import "reset";
@import "layout";
@import "sitenav";
@import "typography";
@import "buttons";
@import "card";
@import "prism";
@import "utilities";
@import "post";
@import "post-list";
@import "links";
@import "google-search";
@import "advent";
@import "event";
@import "season";
@import "summer";
