# dependencies installed by npm
node_modules

# build artefacts
public
src/css
social

# secrets and errors
.env
.log

# macOS related files
.DS_Store

#IDE
.idea
.vscode

# textlint cache
kvs-node-localstorage

# Netlify generated stuff
.netlify/

# Eleventy Edge Build Data files
# netlify/edge-functions/_generated
# for now, disable netlify edge functions
netlify/
!netlify/edge-functions/og.tsx
