.event-marker {
  @apply clear-both font-bold float-left rounded text-white inline-block p-2;
  a {
    @apply text-white !important;
  }
  img {
    @apply inline;
  }
  &.summer {
    background-color: #0000CC;
  }
  &.spring {
    background-color: #d573e8;
  }
  &.advent {
    background-color: #bc0704;
  }
}
