---
layout: layouts/page.njk
---

{%- if showTags == true %}
<div class="tags">
  {% include "tags-links.njk" %}
</div>
{% endif %}

{%- if contributor.github %}
<a href="https://github.com/{{ contributor.github }}"><img width="60" height="60" style="margin-left: 0.2rem" alt="{{ contributor.name }}" src="https://github.com/{{ contributor.github }}.png?size=40" /></a>
{% endif %}

{{ comp.Pagination({ pages: pages, hrefs: hrefs, current: url}) | safe }}

{{ comp.PostList({ postsList: results}) | safe }}

{{ comp.Pagination({ pages: pages, hrefs: hrefs, current: url}) | safe }}
