---
layout: layouts/base.njk
---

{{ comp.SiteNav({en: translate == true}) | safe }}

<main class="tdbc-container">
  <div id='toc'></div>
  <article class="post mr-auto ml-auto">
    <header class="post__header">
      <h1>{{ title }}</h1>
      {%- if en %}
      <div class="relative lg:fixed lg:bottom-5 lg:right-5 lg:bg-blue-900 lg:bg-opacity-50 lg:p-2 lg:rounded-md lg:shadow-lg cursor-pointer">
        <a class="lg:text-white lg:text-center lg:block text-sm"
           href="{{ en }}">Switch to English</a>
      </div>
      {% elseif ja %}
      <div class="relative lg:fixed lg:bottom-5 lg:right-5 lg:bg-blue-900 lg:bg-opacity-50 lg:p-2 lg:rounded-md lg:shadow-lg cursor-pointer">
        <a class="lg:text-white lg:text-center lg:block text-sm"
           href="{{ ja }}">日本語に切り替え</a>
      </div>
      {%- endif %}
      <div class="post__details">
        <time datetime="{{ date | htmlDateString }}">
          {{ date | readableDate }}
        </time>
        <span> | </span>
        <span>{{ content | readingTime }} read</span>
      </div>
      {%- if author %}
        <div style="float: left; margin-bottom: 0.5rem">
        <span> Author: </span>
        {%- set github = author | githubName %}
        {%- if github %}
          <a href="/authors/{{ author }}/" title="{{ author }} の記事一覧">{{ author | safe }}
          <img width="40" height="40" style="margin-left: 0.2rem" alt="{{ author }}の画像" src="https://github.com/{{ github }}.png?size=40" /></a>
        {%- else %}
          <span>{{ author | safe }}</span>
        {%- endif %}
        </div>
      {% endif %}
      <div class="clear-both md:clear-none md:float-right">
        {{ comp.SocialPlugins({url: url}) | safe }}
      </div>
    {%- set adYear = tags | adventCalendarTag %}
    {%- if adYear %}
    <div class="event-marker advent">
      <a target="_blank" rel="noopener noreferrer" href="{{ adventCalendarUrl }}"><img width="20px" src="/img/icons/christmas-tree.svg" alt="christmas-tree"/>アドベントカレンダー{{adYear}}</a>
    </div>
    {%- endif %}
    {%- set summerYear = tags | summerRelayTag %}
    {%- if summerYear %}
    <div class="event-marker summer">
      <a target="_blank" rel="noopener noreferrer" href="{{ summerRelayUrl }}"><img width="20px" src="/img/icons/summer-sun.png" alt="summer-sun"/>夏のリレー連載{{summerYear}}</a>
    </div>
    {%- endif %}
    </header>
    <div class="post__tags">
      {% for tag in (tags | pageTags) %}
      {% set tagUrl %}/tags/{{ tag | lower }}/{% endset %}
      <a href="{{ tagUrl | url }}">#{{ tag }}</a>
      {% endfor %}
    </div>
    <main class="post__content">
      {{ content | safe }}
    </main>

    <aside class="post__aside">
      <div class="post__tags">
        {% for tag in tags | pageTags %}
          {% set tagUrl %}/tags/{{ tag | lower }}/{% endset %}
          <a href="{{ tagUrl | url }}">#{{ tag }}</a>
        {% endfor %}
      </div>

      <nav class="post__pagination">
        {%- if pageNavigationTag %}
          {%- set previousPost = search.previousPage(url, pageNavigationTag + " translate!=true") %}
          {%- if previousPost %}

            <a href="{{ previousPost.url | url }}">
              <span>←</span>
              <span>{{ previousPost.title }}</span>
            </a>

          {% endif %}

          {%- set nextPost = search.nextPage(url, pageNavigationTag + " translate!=true") %}
          {%- if nextPost %}

            <a href="{{ nextPost.url | url }}">
              <span>{{ nextPost.title }}</span>
              <span>→</span>
            </a>

          {% endif %}

        {% else %}
          {%- if prevPage %}
            {%- set prevPostPage = search.pages() | pageByPath(prevPage) %}
            {%- if prevPostPage %}
              <a href="{{ prevPostPage.url | url }}">
                <span>←</span>
                <span>{{ prevPostPage.title }}</span>
              </a>
            {% endif %}
          {% endif %}
          {%- if nextPage %}
            {%- set nextPostPage = search.pages() | pageByPath(nextPage) %}
            {%- if nextPostPage %}
              <a href="{{ nextPostPage.url | url }}">
                <span>{{ nextPostPage.title }}</span>
                <span>→</span>
              </a>
            {% endif %}
          {% endif %}
        {% endif %}
      </nav>
    </aside>
    <div style="margin-top:0">
      <div id='recommendation-app'></div>
      <script type="module">
        import { render } from '/js/preact/recommendation.client.js';
        render({tags : '{{ tags | pageTags }}'}, document.getElementById("recommendation-app"));
      </script>
    </div>
    <hr class="link-separator" />
    {{ comp.ArticleRanking() | safe}}
    {{ comp.FooterLinks() | safe }}
  </article>
  {%- initClipboardJS %}
  {%- mermaidTag %}
  {% set aiImage %}{% if image == true %}true{% else %}false{% endif %}{% endset %}
  <script type="module">
    import { render } from '/js/preact/toc.client.js';
    render(document.getElementById("toc"), '{{ page.src.path }}', "{{ meta.imageUrl }}", {{ aiImage }});
  </script>
</main>