---
layout: layouts/base.njk
---

{% include 'sitenav.njk' %}

<main class="tdbc-container">
  <div id='toc'></div>
  <article class="post tdbc-mx-auto">
    <header class="post__header">
      {%- include "mameyose.njk" %}
      <h1>{{ title }}</h1>
      <div class="post__details">
        <time datetime="{{ page.date | htmlDateString }}">
          {{ page.data.date | readableDate }}
        </time>
        <span> | </span>
        <span>{{ content | readingTime }} read</span>
      </div>
      {%- if author %}
        <div style="float: left; margin-bottom: 0.5rem">
        <span> Author: </span>
        {%- set github = author | githubName %}
        {%- if github %}
          <a href="/authors/{{ author }}" title="{{ author }} の記事一覧">{{ author | safe }}
          <img width="40" height="40" style="margin-left: 0.2rem" alt="{{ author }}の画像" src="https://github.com/{{ github }}.png?size=40" /></a>
        {%- else %}
          <span>{{ author | safe }}</span>
        {%- endif %}
        </div>
      {% endif %}
      <div style="float: right">
        <div id="preact-sns"></div>
        <script type="module">
          import { render } from '/components/preact/social_plugins.js';
          render({url: '{{ meta.url }}', path: '{{ page.data.url }}'}, document.getElementById("preact-sns"));
        </script>
      </div>
    {%- set adYear = tags | adventCalendarTag %}
    {%- if adYear %}
    <div class="advent">
      <a target="_blank" rel="noopener noreferrer" href="{{ adventCalendarUrl }}"><img width="20px" src="/img/icons/christmas-tree.svg" alt="christmas-tree"/>アドベントカレンダー{{adYear}}</a>
    </div>
    {%- endif %}
    {%- set summerYear = tags | summerRelayTag %}
    {%- if summerYear %}
    <div class="summer">
      <a target="_blank" rel="noopener noreferrer" href="{{ summerRelayUrl }}"><img width="20px" src="/img/icons/summer-sun.png" alt="summer-sun"/>夏のリレー連載{{summerYear}}</a>
    </div>
    {%- endif %}
    </header>
    <main class="post__content">
      {{ content | safe }}
    </main>

    <aside class="post__aside">
      <div class="post__tags">
        {% for tag in tags | pageTags %}
          {% set tagUrl %}/tags/{{ tag }}/{% endset %}
          <a href="{{ tagUrl | url }}">#{{ tag }}</a>
        {% endfor %}
      </div>

      <nav class="post__pagination">
        {%- if pageNavigationTag %}

          {%- set previousPost = search.previousPage(page.data.url, pageNavigationTag) %}
          {%- if previousPost %}

            <a href="{{ previousPost.data.url | url }}">
              <span>←</span>
              <span>{{ previousPost.data.title }}</span>
            </a>

          {% endif %}

          {%- set nextPost = search.nextPage(page.data.url, pageNavigationTag) %}
          {%- if nextPost %}

            <a href="{{ nextPost.data.url | url }}">
              <span>{{ nextPost.data.title }}</span>
              <span>→</span>
            </a>

          {% endif %}

        {% else %}
          {%- if prevPage %}
            {%- set prevPostPage = search.pages() | pageByPath(prevPage) %}
            {%- if prevPostPage %}
              <a href="{{ prevPostPage.data.url | url }}">
                <span>←</span>
                <span>{{ prevPostPage.data.title }}</span>
              </a>
            {% endif %}
          {% endif %}
          {%- if nextPage %}
            {%- set nextPostPage = search.pages() | pageByPath(nextPage) %}
            {%- if nextPostPage %}
              <a href="{{ nextPostPage.data.url | url }}">
                <span>{{ nextPostPage.data.title }}</span>
                <span>→</span>
              </a>
            {% endif %}
          {% endif %}
        {% endif %}
      </nav>
    </aside>
    <div style="margin-top:0">
      <div id='recommendation-app'></div>
      <script type="module">
        import { render } from '/components/preact/recommendation.js';
        render({tags : '{{ tags | pageTags }}'}, document.getElementById("recommendation-app"));
      </script>
    </div>
    <hr class="link-separator" />
    {%- include "pv-ranking.njk" %}
    {%- include "links.njk" %}
  </article>
  <script type="module">
    import PhotoSwipeLightbox from 'https://unpkg.com/photoswipe@5.4.2/dist/photoswipe-lightbox.esm.js';
    window.addEventListener('load', function() {
      const anchors = document.querySelectorAll('a.image-swipe');
      anchors.forEach((el) => {
        const img = el.querySelector('img');
        el.setAttribute('data-pswp-width', img.naturalWidth);
        el.setAttribute('data-pswp-height', img.naturalHeight);
        new PhotoSwipeLightbox({
          gallery: `#${el.id}`,
          pswpModule: () => import('https://unpkg.com/photoswipe@5.4.2/dist/photoswipe.esm.js'),
        }).init();
      })
    });
  </script>
  {%- initClipboardJS %}
  {%- mermaidTag %}
  <script type="module">
    import { render } from '/components/preact/toc.js';
    render(document.getElementById("toc"));
  </script>
</main>