---
layout: page.njk
url: /__monthly-summary/
exclude: true
title: 今月の記事
---

{%- set target = search.pages('exclude!=true') | currentMonthPosts %}
<p>投稿数：{{ target.length }}</p>
<p>総記事数：{{ (search | posts).length }}</p>

{% for post in target %}
  [{{ post.data.title }} https://developer.mamezou-tech.com{{ post.data.url }}]<br />
{% endfor %}