@import "typography";

.season {
  display: flex;
  flex-direction: column;
  justify-content: center;
  > * + * {
    margin-top: 2rem;
  }
  table {
    margin: 0.5rem;
    border-collapse: collapse;
    width: 96%;
  }
  th {
    min-width: 110px;
    background-color: #d1dce7;
  }
  td {
    vertical-align: top;
  }
  table, th, td {
    border: 1px solid grey;
    padding: 3px;
  }
  li {
    list-style: none;
  }
  ul {
    padding-top: 10px;
    padding-left: 5px;
  }
  @media only screen and (max-width:568px) {
    thead {
      display:none;
    }
    tbody tr{
      display: block;
      margin-bottom: 2em;
    }
    tbody th, tbody td{
      display:list-item;
      list-style: none;
      border: none;
    }
    tbody th {
      color:#f36;
      text-align:left;
      background:#fff;
    }
    tbody td {
      margin-left: 1em;
    }
  }
}

.season__details {
  opacity: 0.6;
  font-size: 0.9rem;
  > * + * {
    margin-left: 0.5rem;
  }
}

.season__content {
  word-wrap: break-word;
  h1 {
    margin-top: 4rem;
    font-size: $text-4xl;
  }
}

.season__toc {
  display: none;
}

@media (min-width: 80ch) {
  .season__toc {
    display: block;
    margin: 2rem 0;
    border-width: thin;
    border-style: dotted;
    border-radius: 10px;
    border-color: tdbc-color("grey");
    background-color: $tdbc-color-toc;
    li {
      list-style-type: square;
    }
  }
  .toc-container-header {
    margin: 0.5rem;
    font-family: $tdbc-title-font-family;
  }
}

.season__aside {
  margin-top: 2rem;
}

.season__tags {
  opacity: 0.8;
  font-size: $text-sm;
  * + * {
    margin-left: 0.5rem;
  }
}
