@import url("https://cdnjs.cloudflare.com/ajax/libs/Primer/19.2.0/tooltips.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/Primer/19.2.0/labels.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/Primer/19.2.0/alerts.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/Primer/19.2.0/color-modes.min.css");

@import "styles/_theme.pcss";
@import "styles/_reset.pcss";
@import "styles/_layout.pcss";
@import "styles/_sitenav.pcss";
@import "styles/_typography.pcss";
@import "styles/_buttons.pcss";
@import "styles/_card.pcss";
@import "styles/_prism.pcss";
@import "styles/_utilities.pcss";
@import "styles/_post.pcss";
@import "styles/_post-list.pcss";
@import "styles/_links.pcss";
@import "styles/_search.pcss";
@import "styles/_advent.pcss";
@import "styles/_event.pcss";
@import "styles/_season.pcss";
@import "styles/_summer.pcss";
@import "styles/_ad.pcss";

@font-face {
  font-family: Fonarto;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/fonarto.woff") format("woff"), url("../fonts/fonarto.ttf") format("ttf");
  font-display: swap;
}

