@import "https://cdnjs.cloudflare.com/ajax/libs/Primer/19.2.0/tooltips.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/Primer/19.2.0/labels.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/Primer/19.2.0/alerts.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/Primer/19.2.0/color-modes.min.css";
@import "../_includes/styles/_post.pcss";
@import "../_includes/styles/_post-list.pcss";
@import "../_includes/styles/_prism.pcss";
@import "../_includes/styles/_season.pcss";
@import "../_includes/styles/_event.pcss";
@import "../_includes/styles/_event-marker.pcss";
@import "../_includes/styles/_ad.pcss";
@import "../_includes/styles/_card.pcss";
@import "../_includes/styles/_layout.pcss";
@import "../_includes/styles/_sitenav.pcss";
@import "../_includes/styles/_og-preview.pcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Fonarto;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/fonarto.woff") format("woff"), url("../fonts/fonarto.ttf") format("ttf");
  font-display: swap
}

@layer utilities {
  html[lang="zh-CN"] body {
    @apply font-zh;
  }
  html[lang="ja"] body {
    @apply font-ja;
  }
  html[lang="en"] body {
    @apply font-en;
  }
}

*, *::before, *::after {
  box-sizing: border-box
}

p, li, h1, h2, h3, h4 {
  word-break: break-word
}

html, body {
  overflow-x: hidden
}

html {
  scroll-behavior: smooth
}

body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  @apply flex flex-col bg-white ;
  color: #252450;

  @media screen(md) {
    &.bg-summer {
      @apply bg-gradient-to-br from-white via-sky-50 to-sky-100;
    }
    &.bg-spring {
      @apply bg-gradient-to-br from-white via-pink-50 to-pink-100;
    }
    &.bg-advent {
      @apply bg-gradient-to-br from-white via-red-50 to-red-100;
    }
  }
}

input, button, textarea, select {
  font: inherit
}

@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    animation-duration: .01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: .01ms !important;
    scroll-behavior: auto !important
  }

  html {
    scroll-behavior: initial
  }
}

article {
  @apply bg-white md:p-5 md:rounded-lg;
  ul {
    @apply list-disc;
    padding-inline-start: 20px;
  }

  ol {
    @apply list-decimal;
    padding-inline-start: 20px;
  }
}

h1 {
  font-weight: 500;
  line-height: 1.15;
  margin-bottom: .65em;
  font-size: min(max(2rem, 5vw), 3rem)
}

h2 {
  font-weight: 500;
  line-height: 1.15;
  margin-bottom: .65em;
  font-size: min(max(1.5rem, 5vw), 2rem)
}

h3 {
  font-weight: 500;
  line-height: 1.15;
  margin-bottom: .65em;
  font-size: min(max(1.2rem, 5vw), 1.5rem)
}

h4 {
  font-weight: 500;
  line-height: 1.15;
  margin-bottom: .65em;
  font-size: min(max(1rem, 5vw), 1.35rem);
  color: #5e5d6b
}

p, li {
  font-size: min(max(1rem, 5vw), 1.15rem)
}

p {
  margin: 0 0 1rem
}

ul, ol {
  padding-inline-start: 30px;
  margin-block-start: 0;
  margin-block-end: 0;

  li {
    & > p {
      margin-bottom: 0;
    }

    &:last-child {
      margin-block-end: 1rem;
    }
  }
}

:is(ul, ol) :is(ul, ol) li:last-child {
  margin-block-end: 0;
}

article {
  > ul, > ol {
    > li {
      & + li {
        margin-top: .5rem;
      }
    }
  }

  * {
    & + h2 {
      margin-top: 4rem;
    }

    & + h3 {
      margin-top: 2rem;
    }

    & + h4 {
      margin-top: 1.5rem;
    }
  }
}

strong {
  @apply font-bold;
}

code:not([class*=language]) {
  display: inline-flex;
  padding: .2em;
  margin: .1em;
  background-color: #fff;
  color: #5e5d6b;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  border: 1px solid #adacb7;
  border-radius: 2px;
  font-size: .75em;
  line-height: 1.1
}

pre code:not([class*=language]) {
  width: 100%;
  max-width: calc(100vw - 2rem);
  overflow-x: auto
}

pre:not([class*=language]) {
  font-size: .75em;
  margin: .5em
}

pre code:not([class*=language]) {
  width: 100%;
  max-width: calc(100vw - 2rem);
  overflow-x: auto
}

blockquote {
  @apply mx-0 my-3 pl-6;
  border-left: 2px solid #4F4350;
  color: #5e5d6b;

  &, p {
    font-size: 1.15rem
  }

  :last-child {
    margin-bottom: 0;
  }

  pre code:not([class*="language"]) {
    max-width: calc(100vw - 4rem);
  }

  code[class*="language-"],
  pre[class*="language-"] {
    max-width: calc(100vw - 3.5rem);
  }
}

hr {
  margin-top: 4rem;
  margin-bottom: 4rem;
  border: 1px solid #4F4350;
}

.tdbc-background--secondary {
  background-color: #4F4350;
}

a {
  @apply text-blue-800 no-underline;

  &:hover {
    @apply underline;
  }

  &.new-tab-link[target=_blank]::after {
    content: url("/img/icons/new-tab.png");
    @apply inline-block mr-1 h-3;
  }
}

.tdbc-content-maxlength {
  max-width: 80ch
}

.tdbc-mt-md {
  margin-top: 2rem
}

.tdbc-mb-none {
  margin-bottom: 0
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

.chatgpt-jargon {
  margin-top: 1rem;
  font-size: .875rem;
  margin-bottom: 1rem;
  border-width: 2px;
  border-style: groove;
  @apply rounded-xl border-stone-200 p-2;

  > * {
    margin-right: 1rem;
    margin-top: .5rem
  }

  > legend > img {
    display: inline
  }
}

div#search {
  max-width: 300px;
  width: 100%;
  margin: auto;
  line-height: 1;
  background-color: #fff;
  display: block
}

@media (max-width: 480px) {
  section.top-nav div#search {
    display: none
  }
}

button.code-copy {
  background-color: buttonface;
  padding-block: 3px 1px;
  padding-inline: 6px;
  border-style: outset;
  @apply border-2 rounded-sm;
}

span.code-filename {
  @apply top-2 left-2 rounded-sm bg-gray-700 outline-none text-white absolute pt-1 pb-1 pr-2 pl-2;
}

span.code-filename + pre {
  @apply pt-12
}

.section-header {
  margin-bottom: 1.0rem;

  &:has(h1) {
    margin-top: 5rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #4F4350;
  }

  &:has(h2) {
    margin-top: 4rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #827583;
  }

  &:has(h3) {
    margin-top: 2rem;
  }

  h1, h2, h3, h4 {
    display: inline;
  }
}

.tdbc-anchor {
  display: inline-block;
  margin-left: .25em;
  transition: 180ms opacity ease-in-out;
  opacity: .6;
  vertical-align: top;

  &:hover {
    opacity: 1
  }
}

/* top page */
.home {
  .additional-area {
    border: #bebaba solid 1px;
    border-radius: 8px;
    box-shadow: 5px 5px 2px #4f4f4f;
    background-image: url('/img/logo/mameka_280.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right 1rem top 4rem;
    background-blend-mode: overlay;
    background-color: rgba(255, 255, 255, 0.5);

    h2 {
      border-bottom: #4f4f4f solid 1px;
      padding-bottom: 0.7rem;
      font-size: 1.4rem
    }
  }

  .tags a {
    margin: 0.5rem;
    line-height: 1.5rem;
  }

  .icon {
    margin: 0 0.25rem;
    display: inline-flex;
    vertical-align: bottom;
  }
}

.link-separator {
  @apply my-6 border-t border-purple-200
}

.mameka-column {
  img.column-image {
    @apply float-right ml-6
  }
  @media (max-width: 600px) {
    img.column-image {
      @apply hidden
    }
  }
}

.katex-block {
  overflow-x: auto;
}

/* back to top link */
.hidden {
  display: none;
}
