--- 
layout: page.njk
title: 全ての記事
pagination:
  data: collections.articles
  size: 20
  alias: articles
  reverse: true
permalink: "/articles/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber }}/{% endif %}"
hideCategory: true
---

<div class="tags">
  {% include "tags-list.njk" %}
</div>

{% set pages = pagination.pages %}
{% set hrefs = pagination.hrefs %}
{% include "pagination.njk" %}

{% set postslist = articles %}
{% include "posts-list.njk" %}

{% include "pagination.njk" %}
