---
pagination:
  data: collections.contributorArticles
  size: 1
  alias: contributor
  addAllPagesToCollections: true
layout: page.njk
permalink: /{{ page.fileSlug }}/{{ contributor.name }}/{% if contributor.pageIndex > 0 %}{{ contributor.pageIndex }}/{% endif %}
eleventyComputed:
  title: "{{ contributor.name }} の記事"
---

<img width="60" height="60" style="margin-left: 0.2rem" alt="{{ contributor.name }}" src="https://github.com/{{ contributor.github }}.png?size=40" /></a>

{% set pages = pagination.pages | byAuthor(contributor.name) %}
{% set hrefs = pagination.hrefs | selectAuthor(contributor.name) %}
{% include "pagination.njk" %}

{% set postslist = contributor.articles %}
{% include "posts-list.njk" %}

{% include "pagination.njk" %}
