---
pagination:
  data: collections.tagArticles
  size: 1
  alias: tagArticle
  addAllPagesToCollections: true
permalink: /tags/{{ tagArticle.tag }}/{% if tagArticle.pageIndex > 0 %}{{ tagArticle.pageIndex }}/{% endif %}
layout: page.njk
eleventyComputed:
  title: "“{{ tagArticle.tag }}”タグの記事"
---

{% set pages = pagination.pages | byTag(tagArticle.tag) %}
{% set hrefs = pagination.hrefs | tagUrl(tagArticle.tag) %}
{% include "pagination.njk" %}

{% set postslist = tagArticle.articles %}
{% include "posts-list.njk" %}

{% include "pagination.njk" %}
